@font-face {
    font-display: swap;
    font-family: 'Rowdies';
    font-weight: 400;
    src: url('../fonts/rowdies-v18-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 300;
    src: url('../fonts/roboto-v48-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../fonts/roboto-v48-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 500;
    src: url('../fonts/roboto-v48-latin-500.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 600;
    src: url('../fonts/roboto-v48-latin-600.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 700;
    src: url('../fonts/roboto-v48-latin-700.woff2') format('woff2');
}

:root {
    --color-brand: #FF9F0E;
    --color-brand-light: #FCB62A;
    --color-black: #181817;
    --color-white: #ffffff;
    --color-s2: #fffaf3;
    --color-s3: #f1f3ff;
    --color-s4: #839aa9;
    --color-s5: #f9f9ff;
    --color-s6: #d9a6ff;
    --color-s7: #ffaa00;
}

/* Base */
* {
    box-sizing: border-box;
}

body {
    color: var(--color-black);
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.545;
    text-align: left;
    margin: 0;
    background-color: #b2c4d0; /* Set var(--color-white) */
    background-image: url('../images/background.svg');
    background-repeat: no-repeat;
    background-position: center 43px;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

a {
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

address {
    font-style: normal;
}

/* Buttons */
.button-contact {
    color: #FFFFFF;
    background-color: var(--color-brand);
    border: 2px solid var(--color-brand);
    border-radius: 8px;
    cursor: pointer;
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.167;
    text-align: center;
    padding: 16px 31px;
    transition-duration: .2s;
    transition-property: background-color, border-color;
    transition-timing-function: ease-in-out;
}

.button-contact:hover {
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
}

.button-explore {
    color: #FFFFFF;
    background-color: var(--color-brand);
    border: 2px solid var(--color-brand);
    border-radius: 8px;
    cursor: pointer;
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.167;
    text-align: center;
    padding: 16px 32px;
    transition-duration: .2s;
    transition-property: background-color, border-color;
    transition-timing-function: ease-in-out;
}

.button-explore:hover {
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
}

footer .button-contact {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.1875;
    text-align: center;
    padding: 8px 24px;
    transition-duration: .2s;
    transition-property: background-color, border-color;
    transition-timing-function: ease-in-out;
}

/* Link */
.link {
    color: var(--color-black);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.333;
    letter-spacing: .05em;
    text-align: left;
}

.link:hover {
    color: var(--color-brand);
    /* font-weight: 700; */
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    padding: 0 16px;
    border: 1px dashed green; /* DELETE */
}

/* header */
.header-nav > a {
    line-height: normal;
    font-size: 1px;
}

.header-section {
    padding: 32px 80px 0 92px;
    display: flex;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 115px;
}

.header-container > a {
    display: flex;
    line-height: normal;
    font-size: 1px;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 115px;
}

.header-menu {
    display: flex;
    gap: 53px;
    flex-grow: 1;
    justify-content: center;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-shopping-cart {
    fill: var(--color-brand);
}

.header-shopping-cart:hover {
    fill: var(--color-brand-light);
}

/* hero-section */
.hero-section {
    padding: 212px 118px 52px 84px;
    border: 3px solid blue; /* DELETE */
    position: relative;
}

.hero-title {
    color: var(--color-black);
    font-family: Rowdies, sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 1.236;
    letter-spacing: .05em;
    text-align: left;
    margin-bottom: 40px;
}

.hero-title .accent {
    color: var(--color-brand);
}

.hero-title .accent-capitalize {
    text-transform: capitalize
}

.hero-container {
    display: flex;
    justify-content: space-between;
    padding-right: 18px;
}

.hero-content {
    max-width: 635px;
}

.hero-content > p {
    max-width: 494px;
}

.hero-image {
    position: relative;
    padding-top: 23px;
}

.hero-background {
    position: absolute;
    top: -217px;
    right: -134px;
    z-index: -1;
}

.hero-background-elements {
    position: absolute;
    top: -61px;
    left: -248px;
}

.section-title {
    color: var(--color-black);
    font-family: Rowdies, sans-serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 1.25;
    text-align: left;
}

/* Less talk section */
.less-talk-section {
    padding: 8px 0 100px 0;
}

.less-talk-container {
    /* width: 100%;
    max-width: 640px; */
    display: flex;
    gap: 24px;
}

.less-talk-image {
    margin-left: -59px;
}

.less-talk-title {
    margin: 155px 0 40px 0;
    max-width: 430px;
}

.less-talk-content {
    max-width: 640px;
    margin-bottom: 24px;
}

/* .less-talk-video {
    padding-left: 200px; /* Should be corrected
} */

/* .less-talk-video::hover {
    cursor: pointer;
} */

/* Service section */
/* .service-container {
    width: 100%;
    max-width: 1228px;
} */

.service-section {
    padding-bottom: 48px;
}

.service-title {
    text-align: center;
    margin-bottom: 48px;
}

.service-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin: 0 96px 0 84px;
}

.service-article-card {
    border-radius: 16px;
    border: 1px solid var(--color-black); /* Should be --color-s5*/
    padding: 47px 71px;
    width: 240px;
    height: 240px;
    cursor: pointer;
    background: linear-gradient(var(--color-white), ​#fffbf4);
    transition-duration: .2s;
    transition-property: color, background-color, border-color, box-shadow;
    transition-timing-function: ease-in-out;
}

.service-article-card:hover {
    box-shadow: 0px 4px 4px 0px rgba(24, 24, 23, 0.05);
}

.service-text {
    color: var(--color-brand);
    font-size: 22px;
    font-weight: 600;
    line-height: 1.1818;
    text-align: center;
    margin: 0 0;
    padding-top: 24px;
}

.service-article-link {
    display: flex;
    align-items: center;
    align-self: flex-end;
    font-size: 18px;
    text-decoration: none;
    gap: 8px;
}

.service-link {
    color: var(--color-brand);
    font-size: 18px;
    line-height: 1;
}

.service-arrow {
    fill: var(--color-brand);
}

/* Customer section*/
/* .customer-container {
    width: 100%;
    max-width: 1220px;
} */

.customer-section {
    padding: 48px 0 0 0;
}

.customer-title {
    text-align: center;
    margin: 0 auto 48px;
}

.customer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.article-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.article-item {
    flex-basis: calc((100% - 32px) / 3);
}

.article-card {
    border-radius: 24px;
    border: 1px solid #68686b;
    width: 344px;
    height: 456px;
}

.customer-name {
    color: var(--color-white);
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.167;
    text-align: center;
    background-color: var(--color-s4);
}

.customer-text {
    color: var(--color-s3);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1875;
    text-align: center;
    background-color: var(--color-s4);
}

.customer-grade {
    display: flex;
    align-items: center;
    gap: 40px;
}

.customer-bones-grade {
    display: flex;
    gap: 8px;
    fill: var(--color-s7);
}

.customer-bones-nograde {
    display: flex;
    align-items: center;
    gap: 8px;
    fill: var(--color-s3);
}

.customer-number-grade {
    color: var(--color-s7);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1875;
    text-align: left;
    margin: 0 0;
}

.customer-background { /* DELETE */
    background-color: var(--color-s4);
}

.customer-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 0;
    fill: var(--color-white);
    background-color: var(--color-s4);
    border-radius: 50%;
    border: 1px solid var(--color-s4);
    cursor: pointer;
}

.customer-arrow:hover {
    fill: var(--color-white);
    background-color: var(--color-brand);
    border: 1px solid var(--color-brand);
}

/* Contact section */
.contact-section {
    padding: 168px 0 106px 0;
    background-image: url('..//images/contact-section-background.svg');
    background-repeat: no-repeat;
    background-position: center -66px;
}

.contact-title {
    margin-bottom: 16px;
    text-align: center;
}

.contact-container {
    display: flex;
    justify-content: center;
}

.fill-out-the-form {
    color: var(--color-s4);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.333;
    letter-spacing: .05em;
    text-align: center;
    margin-bottom: 42px;
}

/* .contact-list {
    display: flex;
    flex-direction: column;
} */

/* .contact-item {
    flex-basis: 600px;
} */

.contact-icon {
    fill: var(--color-brand);
}

/* Footer */
/* .footer-container {
    width: 100%;
    max-width: 945px;
} */

.footer-section {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    padding: 32px 100px 0 100px;
    background: var(--color-s2);
    background-repeat: no-repeat;
}

.footer-container {
    display: flex;
    gap: 16px;
    flex-grow: 1;
    justify-content: space-between;
    padding-bottom: 50px;
}

.footer-logo {
    line-height: 1;
    margin-bottom: 24px;
    max-width: 200px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
    line-height: 1;
}

/* .footer-form {
    flex-basis: 50%;
} */

.privacy-policy-agreement {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.167;
    text-align: center;
}

.footer-icon-instagram {
    fill: transparent;
    margin-right: 13px;
    stroke: var(--color-brand);
    transition-property: color, background-color, border-color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.footer-icon-instagram:hover {
    fill: transparent;
    stroke: var(--color-brand-light);
}

.footer-icon-facebook {
    transition-property: color, background-color, border-color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    fill: var(--color-brand);
}

.footer-icon-facebook:hover {
    fill: var(--color-brand-light);
}

.footer-image {
    margin-top: -50px;
}

/* Modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(24, 24, 23, 0.4);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: relative;
    width: 880px;
    height: 880px;
    background-color: var(--color-s2);
    border-radius: 32px;
}

.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
}