@font-face {
    font-display: swap;
    font-family: 'Rowdies';
    font-weight: 400;
    src: url('../fonts/rowdies-v18-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 300;
    src: url('../fonts/roboto-v48-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../fonts/roboto-v48-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 500;
    src: url('../fonts/roboto-v48-latin-500.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 600;
    src: url('../fonts/roboto-v48-latin-600.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 700;
    src: url('../fonts/roboto-v48-latin-700.woff2') format('woff2');
}

:root {
    --colour-brand: #FF9F0E;
    --colour-brand-light: #FCB62A;
    --colour-black: #181817;
    --colour-white: #ffffff;
    --colour-s2: #fffaf3;
    --colour-s3: #f1f3ff;
    --colour-secondary-grey: #839aa9;
    --colour-s5: #f9f9ff;
    --colour-s6: #d9a6ff;
    --colour-s7: #ffaa00;
}

/* Base */
* {
    box-sizing: border-box;
}

body {
    color: var(--colour-black);
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.545;
    text-align: left;
    margin: 0;
    background-image: url('../images/background.svg');
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

address {
    font-style: normal;
}

/* Buttons */
.button-contact {
    color: #FFFFFF;
    background-color: var(--colour-brand);
    border: 2px solid var(--colour-brand);
    border-radius: 8px;
    cursor: pointer;
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.167;
    text-align: center;
    padding: 16px 32px;
    transition-duration: .2s;
    transition-property: color, background-color, border-color;
    transition-timing-function: ease-in-out;
}

.button-contact:hover {
    background-color: var(--colour-brand-light);
}

.button-explore {
    color: #FFFFFF;
    background-color: var(--colour-brand);
    border: 2px solid var(--colour-brand);
    border-radius: 8px;
    cursor: pointer;
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.167;
    text-align: center;
    padding: 16px 32px;
    transition-duration: .2s;
    transition-property: color, background-color, border-color;
    transition-timing-function: ease-in-out;
}

.button-explore:hover {
    background-color: var(--colour-brand-light);
}

footer .button-contact {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.1875;
    text-align: center;
    padding: 8px 24px;
    transition-duration: .2s;
    transition-property: color, background-color, border-color;
    transition-timing-function: ease-in-out;
}

/* Link */
.link {
    color: var(--colour-black);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.333;
    letter-spacing: .05em;
    text-align: left;
}

.link:hover {
    color: var(--colour-brand);
    /* font-weight: 700; */
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1256px;
    padding: 0 16px;
}

/* header */
.header-nav > a {
    line-height: normal;
    font-size: 1px;
}

.header-section {
    padding: 32px 0 106px 0;
    display: flex;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-container > a {
    display: flex;
    line-height: normal;
    font-size: 1px;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 24px;
}

.header-menu {
    display: flex;
    gap: 48px;
    flex-grow: 1;
    justify-content: center;
}

/* hero-section */
/* .hero-container {
    width: 100%;
    max-width: 635px;
} */

.hero-section {
    padding: 106px 0 195px 0;
    background-image: url('../images/hero-section-background.svg');
    background-repeat: no-repeat;
}

.hero-title {
    color: var(--colour-black);
    font-family: Rowdies, sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 1.236;
    letter-spacing: .05em;
    text-align: left;
    margin-bottom: 40px;
}

.hero-title .accent {
    color: var(--colour-brand);
}

.hero-title .accent-capitalize {
    text-transform: capitalize
}

.hero-container {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    padding-right: 18px;
}

.hero-content {
    max-width: 635px;
}

.hero-content > p {
    max-width: 494px;
}

.hero-container > img {
    padding-top: 23px;
    background-image: url('../images/hero-section-background-elements.svg');
}

.section-title {
    color: var(--colour-black);
    font-family: Rowdies, sans-serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 1.25;
    text-align: left;
}

/* Less talk section */
/* .less-talk-container {
    width: 100%;
    max-width: 640px;
} */

.less-talk-section {
    padding: 196px 0 100px 0;
}

.less-talk-title {
    margin-bottom: 40px;
}

.less-talk-video {
    padding-left: 200px; /* Should be corrected */
}

.less-talk-video::hover {
    cursor: pointer;
}

/* Services category section */
/* .services-category-container {
    width: 100%;
    max-width: 1228px;
} */

.services-category-section {
    padding: 87px 0 48px 0;
}

.services-category-title {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
    padding: 0px;
}

.service-category-list {
    display: flex;
    gap: 24px;
}

.service-article-card {
    border-radius: 16px;
    border: 1px solid var(--colour-s5);
    padding: 47px 71px;
    width: 240px;
    height: 240px;
    cursor: pointer;
    background: linear-gradient(var(--colour-white), ​#fffbf4);
    transition-duration: .2s;
    transition-property: color, background-color, border-color, box-shadow;
    transition-timing-function: ease-in-out;
}

.service-article-card:hover {
    box-shadow: 0px 4px 4px 0px rgba(24, 24, 23, 0.05);
}

.service-text {
    color: var(--colour-brand);
    font-size: 22px;
    font-weight: 600;
    line-height: 1.1818;
    text-align: center;
    margin: 0 0;
    padding-top: 24px;
}

.service-article-link {
    align-self: flex-end;
    font-size: 18px;
}

.service-link {
    color: var(--colour-brand);
    text-decoration: none;
    font-size: 18px;
    line-height: 1;
    margin-right: 8px;
}

.service-arrow {
    font-size: 1px;
    line-height: 1;
}

/* Happy customer section*/
/* .happy-customer-container {
    width: 100%;
    max-width: 1220px;
} */

.happy-customer-section {
    padding: 48px 0 84px 0;
}

.happy-customer-title {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}

.article-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.article-item {
    flex-basis: calc((100% - 32px) / 3);
}

.article-card {
    border-radius: 24px;
    border: 1px solid #68686b;
    padding: 16px 0;
    width: 344px;
    height: 456px;
}

.customer-article {
    color: #1d0af2; /* change on var(--colour-white) */
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.167;
    text-align: left;
}

.customer-text {
    color: var(--colour-s3);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1875;
    text-align: left;
}

.customer-grade {
    color: var(--colour-s7);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1875;
    text-align: left;
}

/* Contact section */
.contact-section {
    padding: 84px 0 71px 0;
}

.contact-title {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    text-align: center;
}

.contact-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}

.fill-out-the-form {
    color: var(--colour-secondary-grey);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.333;
    letter-spacing: .05em;
    text-align: center;
    margin-bottom: 42px;
}

/* .contact-list {
    display: flex;
    flex-direction: column;
} */

/* .contact-item {
    flex-basis: 600px;
} */

/* Footer */
/* .footer-container {
    width: 100%;
    max-width: 945px;
} */

.footer-section {
    padding: 71px 0 81px 0;
}

.privacy-policy-agreement {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.167;
    text-align: center;
}

.address {
    color: var(--colour-black);
    font-family: inherit;
    text-decoration: none;
}

.address:hover {
    color: #0000ee;
    font-weight: 600;
}